@inherits WebPage.Blazor.Src.Infrastructure.Interop.BootInteropLayoutBase


<!-- Header -->
<Header></Header>

<main class="flex grow flex-col overflow-y-auto">

  <ErrorBoundary Context="ex">
    <ChildContent>
      @Body
    </ChildContent>
    <ErrorContent>

      <!-- Bottom error UI -->
      <div id="blazor-error-ui" class="flex justify-center">

        <div class="absolute bottom-0 flex items-center text-white">
          <span class="text-5xl">[</span>
          <div class="py-6">
            @ex.Message
          </div>
          <span class="text-5xl">]</span>
        </div>

      </div>

    </ErrorContent>
  </ErrorBoundary>

</main>

<!-- Footer -->
<Footer></Footer>
