@inherits LayoutComponentBase

<div class="border-terminal">

    <div class="bg-lime  text-[2rem] font-mono z-[90] text-lime-600"
         style="text-shadow: 0 0 5px #00ffc3, 0 0 10px #00ffc3, 0 0 20px #00bfa5;">
        <!-- Put whatever amazing nonsense you want to show off here -->
        <h1>WELCOME TO THE TECH APOCALYPSE</h1>
        <p>Now featuring handcrafted CSS hallucinations.</p>
    </div>
    
    <button class="bg-red">
        Sign in with Facebook
    </button>

</div>

