@page "/"

@inherits BootInteropComponentBase
<PageTitle>Home</PageTitle>

<div class="flex gap-4 mb-4">
    <button class="@GetTabClass("projects")" @onclick="@(() => SelectTab("projects"))">
        <span class="crt-wiggle  text-lime-400 text-shadow-terminal-teal">
            [
        </span>
        Projects
        <span class="crt-wiggle  text-lime-400 text-shadow-terminal-teal">
            ]
        </span>

    </button>
    <button class="@GetTabClass("contact")" @onclick="@(() => SelectTab("contact"))">
        <span class="crt-wiggle text-lime-400 text-shadow-terminal-teal">
            [
        </span>
        Contact
        <span class="crt-wiggle  text-lime-400 text-shadow-terminal-teal">
            ]
        </span>
    </button>
</div>

<hr class="shadow-md my-4 h-[3px] bg-teal-400 rounded shadow-teal-200" />

<div class="font-mono text-lime-300">
    @switch (_activeTab)
    {
        case "projects":
            <ProjectsScreen/>
            
            break;
        case "entries":
            <p>> Displaying Entries screen...</p>
            
            break;
    }
</div>

@code {
    private string _activeTab = "projects";

    private void SelectTab(string tab)
    {
        _activeTab = tab;
    }

    private string GetTabClass(string tab) =>
        $"px-4 py-2 font-mono transition-all duration-200" +
        (_activeTab == tab
            ? " bg-teal-600 text-teal-950 text-shadow-terminal-teal-darker"
            : " text-lime-300 hover:bg-teal-600 text-shadow-terminal-teal");
}