@inherits BootInteropLayoutBase

<div class="h-full flex flex-col container mx-auto p-0.5 shadow-lg shadow-teal-200 border-2 border-teal-500">

    <header class="pl-4 bg-gradient-to-r w-full from-teal-400 via-teal-300 to-teal-400 text-3xl font-bold text-black 
    shadow shadow-teal-200 opacity-70">
        <h1 class="crt-wiggle text-shadow-terminal-teal boot-line text-teal-900" data-line="GREEN.CSV [v0.01]">
            GREEN.CSV [v0.01]
        </h1>
    </header>

    <main class="flex-1 overflow-y-auto space-y-2">
        @Body
    </main>

</div>
