@inherits BootInteropLayoutBase


<!-- Header -->
<header class="container mx-auto text-4xl mt-2 flex-none">
  <h1 class="boot-line text-teal-300" data-line="GREEN.CSV [v0.01]">
    GREEN.CSV [v0.01]
  </h1>
</header>

<hr class="bg-teal-500 border flex-none h-[2px] my-4 shadow-md" />

<main class="flex flex-col grow overflow-y-auto">
  @Body
</main>

<!-- Footer -->
<footer class="bg-sky-950 flex-none">

  <div class="container mx-auto">
    <a href="https://www.linkedin.com/in/anzvy/"
       target="_blank"
       class="text-lg py-2 flex rounded-sm transition-colors duration-200 items-center text-sky-100 gap-2">
      <span class="flex items-center gap-1">[>_@GreenIcons.LinkedIn]</span>
      LinkedIn
    </a>
  </div>

</footer>
