@inherits LayoutComponentBase

<hr class="bg-teal-500 border flex-none h-[2px] my-4 shadow-md" />

<main class="flex flex-col grow overflow-y-auto">
  @Body
</main>

<!-- Footer -->
<Footer></Footer>
